<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<!-- <form action="">
  <input name="Title"></input>
  <textarea name="Content"></textarea>
  <input type="button" value="Create Article">
</form> -->

<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
