<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= form_for [@article, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<% @article.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
<% end %>
